@model List<SubscriptionTypeViewModel>
@{
   ViewBag.Title = "Web mobil-4";
}

<h1><a >FENERBAHÇE</a></h1> <br />
<h1>FENERBAHÇE</h1><br />
<h1>FENERBAHÇE</h1><br />
<h1>FENERBAHÇE</h1><br />
<h1>FENERBAHÇE</h1><br />
<h1>FENERBAHÇE</h1><br />
<h1>FENERBAHÇE</h1><br />
<h1>FENERBAHÇE</h1><br />
<h1>FENERBAHÇE</h1><br />
<h1>FENERBAHÇE</h1><br />
@*<partial name="Partials/_PricePartial" model="Model"></partial>
*@
@await Component.InvokeAsync("PricingTable")